extends layout.pug

block content

  article.portfolio-intro

    //- Heading
    h1 Welcome to My Profile! 

    //- Portfolio Description  
    p This profile showcases some of the projects and skills that I have worked on so far throughout the Treehouse Fullstack Javascript Degree. 

  //- Iterate through projects 
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail for ${project.project_name}`)
            h5= project.project_name 

    
